In [2]:
import pandas as pd
data = pd.read_csv("Salary_Data.csv")
data

    YearsExperience  Salary
0               0.3    36.2
1               0.6    36.6
2               0.8    42.8
3               1.1    39.3
4               1.3    46.2
5               1.5    37.7
6               2.0    43.5
7               2.2    39.8
8               2.9    56.6
9               3.0    60.1
10              3.2    54.4
11              3.2    64.4
12              3.7    57.1
13              3.9    63.2
14              4.0    55.7
15              4.0    56.9
16              4.1    57.0
17              4.5    61.1
18              4.9    67.9
19              5.1    66.0
20              5.3    83.0
21              5.9    81.3
22              6.0    93.9
23              6.8    91.7
24              7.1    98.2
25              7.9   101.3
26              8.2   113.8
27              8.7   109.4
28              9.0   105.5
29              9.5   116.9
30              9.6   112.6
31             10.3   122.3
32             10.5   121.8

In [ ]:
X = data['YearsExperience'].to_numpy().reshape((-1,1))
y = data['Salary'].to_numpy()

array([ 36.2,  36.6,  42.8,  39.3,  46.2,  37.7,  43.5,  39.8,  56.6,
        60.1,  54.4,  64.4,  57.1,  63.2,  55.7,  56.9,  57. ,  61.1,
        67.9,  66. ,  83. ,  81.3,  93.9,  91.7,  98.2, 101.3, 113.8,
       109.4, 105.5, 116.9, 112.6, 122.3, 121.8])

In [6]:
#建立和訓練模型
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model = model.fit(X, y)
y_pred =model.predict(X)
y_pred

array([ 30.74820017,  33.48532199,  35.31006986,  38.04719168,
        39.87193955,  41.69668743,  46.25855712,  48.08330499,
        54.46992256,  55.3822965 ,  57.20704438,  57.20704438,
        61.76891407,  63.59366194,  64.50603588,  64.50603588,
        65.41840982,  69.06790557,  72.71740132,  74.5421492 ,
        76.36689707,  81.8411407 ,  82.75351464,  90.05250615,
        92.78962796, 100.08861946, 102.82574128, 107.38761097,
       110.12473278, 114.68660247, 115.59897641, 121.98559398,
       123.81034185])

In [ ]:
#計算評估指標
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
import numpy as np

r2 = r2_score(y, y_pred) 
mse = mean_squared_error(y, y_pred) #mse 均方誤差
mae = mean_absolute_error(y, y_pred) #mae 平均絕對誤差
rmse = np.sqrt(mse) #rmse 均方根誤差

np.float64(5.692961030033632)

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
from matplotlib.font_manager import fontManager

# 設定中文字型
fontManager.addfont("ChineseFont.ttf")
mpl.rc('font', family="ChineseFont")

# 設定圖表風格
plt.style.use('ggplot')

In [ ]:
fig, axes = plt.subplots(2, 2, figsize=(15, 12))

# 1. 實際值vs預測值散點圖
axes[0,0].scatter(X, y, color='blue', alpha=0.5, label='實際值')