<a href="https://colab.research.google.com/github/roberthsu2003/machine_learning/blob/main/%E4%B8%8A%E8%AA%B2%E5%85%A7%E5%AE%B9/2025_06_20_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.perplexity.ai/search/e2f62e9b-e34c-496b-96ce-d624941362d9

In [1]:
%%capture
%pip install wget

In [2]:
import wget

wget.download("https://github.com/roberthsu2003/machine_learning/raw/refs/heads/main/source_data/ChineseFont.ttf")

'ChineseFont.ttf'

In [3]:

## 取行數據資料
import numpy as np

data = np.genfromtxt('Salary_Data.csv', delimiter=',',skip_header=1,dtype=float)
np.shape(data)

(30, 2)

In [4]:

#numpy的索引(index)和切割(slicing)
data[0]
data[0,1]
#slicing
data[:3]
data[:3,-1]

array([39343., 46205., 37731.])

In [16]:
type(data)
data.shape
years_experience = data[:,0]
salary = data[:,1]
years_experience.shape
salary

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

In [20]:
a1, a2, a3= (54, 27, 92)
a1
a2
a3
(54,)
f"a1={a1},a2={a2},a3={a3}" #字串插補

'a1=54,a2=27,a3=92'

In [22]:
print(f"年資前5筆是:{years_experience[:5]}")
print(f"薪資前5筆是:{salary[:5]}")

年資前5筆是:[1.1 1.3 1.5 2.  2.2]
薪資前5筆是:[39343. 46205. 37731. 43525. 39891.]

In [24]:
#使用numpy的統計功能
#平均,中位數,標準差,最高,最低

print("\n基本統計分析:")
print(f"平均年資: {np.mean(years_experience,dtype=float):.2f} 年")
print(f"年資中位數: {np.median(years_experience):.2f} 年")
print(f"年資標準差: {np.std(years_experience):.2f} 年")
print(f"最高年資: {np.max(years_experience):.2f} 年")
print(f"最低年資: {np.min(years_experience):.2f} 年")

print(f"\n平均薪資: {np.mean(salary):.2f}")
print(f"薪資中位數: {np.median(salary):.2f}")
print(f"薪資標準差: {np.std(salary):.2f}")
print(f"最高薪資: {np.max(salary):.2f}")
print(f"最低薪資: {np.min(salary):.2f}")

基本統計分析:
平均年資: 5.31 年
年資中位數: 4.70 年
年資標準差: 2.79 年
最高年資: 10.50 年
最低年資: 1.10 年

平均薪資: 76003.00
薪資中位數: 65237.00
薪資標準差: 26953.65
最高薪資: 122391.00
最低薪資: 37731.00

In [30]:
#相關係數
correlation = np.corrcoef(years_experience,salary)
type(correlation)
correlation.shape
correlation[0,1]

np.float64(0.9782416184887599)